{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
		<title>Cat Collectr</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  </head>
  <body>
  <h1>Cat Collectr</h1>
  {% for cat in cats %}
  <a href="/{{cat.id}}">
    <p>Name: {{ cat.name }}</p>
  {% if cat.age > 0 %}
    <p>Age: {{ cat.age }}</p>
  {% else %}
    <p>Age: Kitten</p>
  {% endif %}
  </a>
	<hr />
{% endfor %}
  <footer>All Rights Reserved, CatCollectr 2018</footer>
  </body>
